@page "/add-goal"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.WebUtilities
@inject GoalService GoalService

<div>
    <PageHeader BackIcon="true">
        <PageHeaderTitle>Add goal</PageHeaderTitle>
        <PageHeaderContent>
            <Form Model="@_model" OnFinish="@OnFinish">
                <FormItem Label="Name">
                    <Input @bind-Value="@context.Name"/>
                </FormItem>
                <Button Block Type="@ButtonType.Primary" HtmlType="submit">
                    Add goal
                </Button>
            </Form>
        </PageHeaderContent>
    </PageHeader>
</div>

@code {

    public class Model
    {
        [Required]
        public string Name { get; set; }
    }

    private Model _model = new();

    private void OnFinish()
    {
        var goal = GoalService.AddGoal(new()
        {
            Name = _model.Name,
        });
        
        NotificationService.Success("Task added successfully!");
        
        NavigationManager.NavigateTo(GoalListPage.GetUrlWithSelectedGoal(goal));
    }

}