::deep .sider {
    margin-left: 1rem;
    background: transparent;
    transition: margin-right 0.3s ease;
}

::deep aside.ant-layout-sider-collapsed {
    margin-right: -400px;
}

::deep .list-content {
}

::deep .list-content--goal-selected {
}

@media(max-width: 768px) {
    ::deep .list-content {
    }

    ::deep .list-content--goal-selected {
        display: none;
    }
    
    ::deep .sider {
        margin-left: 0;
        flex: unset !important;
        width: unset  !important;;
        max-width: unset !important;
        min-width: unset !important;
    }
    
    ::deep .goal-details {
        min-height: unset;
    }

    ::deep aside.ant-layout-sider-collapsed {
        margin-right: 0px !important;
        /*background: red;*/
    }
}