@page "/goal/{GoalId:int}"

<h3>Goal - @GoalId</h3>

@if (_goal is not null)
{
    <GoalContext @ref="_goalContext" Goal="@_goal">
        <GoalListEntry
            OnClick="() => {}"
            Selected="false"/>
    </GoalContext>
    
    <CascadingValue Value="@_goalContext">
        <CascadingValue Value="@_goal">
            <GoalDetails/>
        </CascadingValue>
    </CascadingValue>
}

@code {

    [Parameter]
    public int GoalId { get; set; }

    private GoalContext? _goalContext;
    private Goal? _goal;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            _goal = await GoalService.GetGoal(GoalId);
        }
        catch (Exception e)
        {
            await NotificationService.Error(e.ToString());
            throw e;
        }
    }

}