.selected ::deep .card {
    background: #eef6ff;
    border: 1px solid #b9e2ff;
}

[data-theme="dark"] .selected ::deep .card {
    background: #202c31;
    border: 1px solid #6a869d;
}

::deep .card {
    align-content: center;
    /*z-index: 1;*/
}

/*::deep .card * {*/
/*    z-index: 10;*/
/*}*/

/*::deep .card::after {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    !*background: linear-gradient(to bottom, transparent 50%, rgba(100, 196, 43, 0.2) 100%);*!*/
/*    content: '';*/
/*    z-index: 2;*/
/*}*/