.goal-details {
    position: relative;
    display: block;
    min-height: 100%;
    height: 0;
    overflow: auto;
    overflow-x: hidden;
    /*width: 400px;*/
    width: auto;
}

.goal-details ::deep .card {
    min-height: 100%;
}

.goal-details ::deep .card .ant-card-actions {
    margin-top: 1rem;
    padding: 1rem;
}

.goal-details ::deep .card .ant-card-actions:empty {
    display: none;
}