@using BeProductive.Modules.Goals.Presentation.Models
<Card Title="@Goal.Name">
    <Extra>
        <a @onclick="NavigateToEditGoalPage">Edit</a>
    </Extra>
    <Body>
    <GoalCalendar DayStates="_dayStates" OnMonthChanged="OnMonthChanged"/>
    </Body>
</Card>

@code {

    private int _lastGoalId = 0;
    
    [Parameter]
    public Goal Goal { get; set; }

    private DateTime _date = DateTime.Today;

    private IEnumerable<DayState> _dayStates;

    protected override async Task OnParametersSetAsync()
    {
        if (Goal.Id != _lastGoalId)
        {
            _dayStates = Enumerable.Empty<DayState>();
            await UpdateStates();
            _lastGoalId = Goal.Id;
        }
    }

    public async Task UpdateStates()
    {
        var domainStates = await GoalService.GetStatesForMonth(Goal, _date);
        var states = domainStates.Select(DayState.FromDomain).ToArray();

        _dayStates = states;
        
        StateHasChanged();
    }

    private void NavigateToEditGoalPage()
    {
        NavigationManager.NavigateTo($"/goal/{Goal.Id}/edit");
    }

    private async Task OnMonthChanged(DateTime date)
    {
        _date = date;
        await UpdateStates();
    }

}