.goal-details {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {
    .goal-details {
        height: auto;
    }
}

.goal-details ::deep .card {
    min-height: 100%;
}

.goal-details ::deep .card .ant-card-actions {
    margin-top: 1rem;
    padding: 1rem;
}

.goal-details ::deep .card .ant-card-actions:empty {
    display: none;
}