<Card Title="@Goal.Name">
    <Extra>
        <a @onclick="() => NavigateToEditGoalPage()">Edit</a>
    </Extra>
    <Body>
    <Calendar FullScreen="false" Mode="@DatePickerType.Month"/>
    </Body>
</Card>

@code {

    [Parameter]
    public Goal Goal { get; set; }

    private void NavigateToEditGoalPage()
    {
        NavigationManager.NavigateTo($"/goal/{Goal.Id}/edit");
    }

}