@inherits LayoutComponentBase
@implements IDisposable

<div class="layout">
    <Layout Style="min-height: 100%">
        <Sidebar/>

        <Layout Style="margin-left: 200px; min-height: 100vh">
            <ContextPageHeader/>

            <Content Style="padding: 1rem">
                @{
                    RenderFragment? body;
                }
                <ErrorBoundary @ref="_errorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent Context="error">
                        <ErrorDisplay Exception="@error"/>
                        @Body
                    </ErrorContent>
                </ErrorBoundary>
            </Content>

            <Footer Class="layout-footer">
                <Text Disabled>Copyright Szymon Jankowski © @(DateTime.Today.Year) </Text>
            </Footer>
        </Layout>
    </Layout>
</div>

@code {

    private ErrorBoundary _errorBoundary;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;

        NotificationService.Config(new()
        {
            Placement = NotificationPlacement.BottomLeft,
        });
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _errorBoundary.Recover();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}