.layout {
}

::deep .layout-footer  {
    background: white;
    text-align: right;
    padding: 18px 24px;
}

[data-theme="dark"] .layout ::deep .layout-footer {
    background: rgba(255, 255, 255, 0.1);
}