@using BeProductive.Modules.Goals.Domain
@inherits AntInputComponentBase<string>

<div style="display: flex;">
    <Space Wrap>
        @foreach (var color in GoalColors.Colors)
        {
            <SpaceItem Style="margin-top: 4px">
                <div
                    @onclick="() => OnSelectColor(color)">
                    <Avatar
                        Class=@($"color {(Value == color ? "selected" : "")}")
                        Size="48"
                        Style="@($"background: {color}")"/>
                </div>
            </SpaceItem>
        }
    </Space>
</div>

<style>
    .color {
        cursor: pointer;
    }
    
    .color.selected {
        border: 2px solid white;
        outline: 3px solid #3e99ea;
    }
</style>

@code {

    private void OnSelectColor(string color)
    {
        Value = color;
        ValueChanged.InvokeAsync(color);
    }

}