::deep .color {
    cursor: pointer;
    outline-width: 0px solid #3e99ea;
    transition: outline-width 0.1s;
}

::deep .color.selected {
    border: 2px solid white;
    outline: 3px solid #3e99ea;
}

[data-theme="dark"] div ::deep .color.selected {
    border: 2px solid black;
    outline: 3px solid #1a98ff;
}