.sidebar {
    background: white;
    border-right: 1px solid #ececec;
    height: 100%;
}

[data-theme="dark"] .sidebar {
    background: #141414;
    border-right: 1px solid #303030;
}

.logo {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 16px 0;
    font-size: 16px;
}

::deep .sidebar-menu-button {
    display: none;
}

@media (max-width: 768px) {
    ::deep .sidebar-menu-button {
        display: block;
        position: absolute;
        right: 100%;
    }
    
    ::deep .sidebar-menu-button .anticon {
        transform: scale(1.5);
    }

    .logo-link {
        margin-left: 28px;
        position: relative;
    }
    
    .logo-link h1 {
        margin-left: 4px;
    }
}

.logo h1 {
    border-bottom: 3px solid #1890ff;
    margin-bottom: -3px;
}

::deep .menu {
    margin-top: -4px;
    border: none;
}

.footer {
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    text-align: center;
}