@page "/components"
@using BeProductive.Modules.Goals.Domain
@using BeProductive.Modules.Goals.Presentation.Models

<Divider Orientation="left">Color picker</Divider>
<ColorPicker/>

<Divider Orientation="left">Icon picker</Divider>
<IconPicker Color="#5a1"/>

<Divider Orientation="left">Goal state selector</Divider>
<Space>
    <SpaceItem>
        <GoalStateSelector/>
    </SpaceItem>
    <SpaceItem>
        <GoalStateSelector State="GoalState.Success"/>
    </SpaceItem>
    <SpaceItem>
        <GoalStateSelector State="GoalState.Failure"/>
    </SpaceItem>
    <SpaceItem>
        <GoalStateSelector State="GoalState.Emergency"/>
    </SpaceItem>
</Space>

<Divider Orientation="left">Goal calendar</Divider>
<div style="width: 380px">
    <GoalCalendar DayStates="@_dayStates"/>
</div>

@code {

    private readonly List<DayState> _dayStates = new()
    {
        new(DateTime.Today.AddDays(-2), GoalState.Success),
        new(DateTime.Today.AddDays(-3), GoalState.Failure),
        new(DateTime.Today.AddDays(1), GoalState.Emergency)
    };

}