@inherits LayoutComponentBase

<Layout Class="layout" Style="min-height: 100vh">
    <div class="content-wrapper">
        <Header class="header">
            <Badge>
                <CountTemplate>
                    <Tag Color="#e751ff" Style="margin-left: 20px; border: 1px solid rgba(0,0,0,0.2)">
                        Alpha
                    </Tag>
                </CountTemplate>
                <ChildContent>
                    <Title Class="header-text" Level="2" Style="border-bottom: 3px solid #1890ff">beProductive</Title>
                </ChildContent>
            </Badge>
        </Header>
        <Content Style="background: transparent">
            <BadgeRibbon Color="#e751ff" Text=@($"v{ThisAssembly.Info.Version}")>
                @Body
            </BadgeRibbon>
        </Content>
    </div>
</Layout>

<style>
    .layout {
        min-height: 100%;
        background: linear-gradient(to bottom, #278dff, #9f40d3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-wrapper {
        width: 400px;
    }
    
    .header {
        background: transparent;
        text-align: center;
    }
    
    .header .header-text {
        color: white;
        text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    }
    
    [data-theme="dark"] .layout {
        background: linear-gradient(to top, #042241, #23012a);
    }
</style>

@code {

}